﻿<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">



        <div class="row">
            <!-- Total Revenue -->
            <div class="col-lg-8 mb-4 order-0">
                <div class="card">
                    <div class="row row-bordered g-0">
                        <div class="col-md-12">
                            <h5 class="card-header m-0 me-2 pb-3">@DateTime.Now.Year Yılının Makale Yayınlama Analizi</h5>
                            <div id="customTotalRevenueChart" class="px-2"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/ Total Revenue -->
            <div class="col-lg-4 col-md-4 order-1">
                <div class="row">



                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body total-section">
                                <div class="card-title d-flex align-items-start justify-content-between">

                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx-paper-plane"></i>
                                </div>
                                <span class="fw-semibold d-block mb-1">Toplam Makale <br /> Makale Sayısı</span>
                                <h3 class="card-title mb-2" id="totalArticleCount"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body added-section">
                                <div class="card-title d-flex align-items-start justify-content-between">

                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx-paper-plane"></i>
                                </div>
                                <span class="fw-semibold d-block mb-1">Eklediğin <br /> Makale Sayısı</span>
                                <h3 class="card-title mb-2" id="totalArticleCountForUser"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body total-section">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx-category"></i>

                                </div>
                                <span class="fw-semibold d-block mb-1">Toplam Eklenen <br /> Kategori Sayısı</span>
                                <h3 class="card-title text-nowrap mb-1" id="totalCategoryCount"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body added-section">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx-category"></i>

                                </div>
                                <span class="fw-semibold d-block mb-1">Eklediğin Kategori<br />  Sayısı</span>
                                <h3 class="card-title text-nowrap mb-1" id="totalCategoryCountForUser"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body total-section">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx-show-alt"></i>

                                </div>
                                <span class="fw-semibold d-block mb-1">Toplam Makale <br />Gösterim Sayısı </span>
                                <h3 class="card-title text-nowrap mb-1" id="totalViewCount"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4 ">
                        <div class="card">
                            <div class="card-body added-section">
                                <div class="card-title d-flex align-items-start justify-content-between">

                                    <i style="height:30px; font-size:2.25rem" class="menu-icon bx bx bx-show-alt"></i>
                                </div>
                                <span class="fw-semibold d-block mb-1">Eklediğin Makale <br />  Gösterim Sayısı</span>
                                <h3 class="card-title mb-2" id="totalViewCountForUser"></h3>
                                <small class="text-success fw-semibold"></small>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
           
        </div>
     


    </div>
    <!-- / Content -->
    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
          
        </div>
    </footer>
    <!-- / Footer -->


    <div class="content-backdrop fade"></div>
</div>
<style>
    .total-section {
        background-color: rgba(105, 108, 255, 0.85); /* Kırmızımsı arka plan */
        color: #fff;
    }

    .added-section {
        background-color: #ff0000; /* Mavi arka plan */
        color: #fff;
    }

        .total-section h3,
        .added-section h3 {
            color: #fff; 
        }/* Beyaz yazı */


</style>
@section Scripts{
    <script src="~/js/dashboardIndex.js"></script>
    <script>
        var app = app || {}
        app.Urls = app.Urls || {}

        app.Urls.yearlyArticlesUrl = "@(Url.Action("YearlyArticleCounts", "Home"))";
        app.Urls.yearlyArticlesForUserUrl = "@(Url.Action("YearlyArticleCountsForUser", "Home"))";
        app.Urls.totalArticleCountUrl = "@(Url.Action("TotalArticleCount", "Home"))";
        app.Urls.totalArticleCountForUserUrl = "@(Url.Action("TotalArticleCountForUser", "Home"))";
        app.Urls.totalCategoryCountUrl = "@(Url.Action("TotalCategoryCount", "Home"))";
        app.Urls.totalCategoryCountForUserUrl = "@(Url.Action("TotalCategoryCountForUser", "Home"))";
        app.Urls.userMonthlyCountsUrl = "@(Url.Action("UserMonthlyArticleCounts", "Home"))";
        app.Urls.totalViewCountsUrl = "@(Url.Action("TotalViewCount", "Home"))";
        app.Urls.totalViewCountForUsersUrl = "@(Url.Action("TotalViewCountForUser", "Home"))";
    </script>
}